<div class="side-heading">
  <div class="heading-user-name">
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="make-chat-btn">
    <%= link_to "チャットを作成する", new_room_path %>
  </div>
</div>

<div class="side-rooms">
  <% current_user.rooms.each do |room| %>
    <div class="room">
      <div class="room-name">
        <%= link_to room.name , room_messages_path(room)%></a>
      </div>
    </div>
  <% end %>
</div>
