<div class="side-heading">
  <div class="heading-user-name">
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="make-chat-btn">
    <a href="#">チャットを作成する</a>
  </div>
</div>

<div class="side-rooms">
  <div class="side-room">
    <a href="#">techroom1</a>
  </div>
</div>
