.wrapper {
  display: flex;

}

/* ************************************************************
サイドバー
************************************************************ */

.side-bar {
  width: 300px;
  height: 100vh;
  background-color: #253141;
}

.side-heading {
  height: 100px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;  
}

.heading-user-name a {
  color: #fafafa;
  font-size: 16px;
  text-decoration: none;
}

.make-chat-btn a {
  color: deepskyblue;
  font-size: 10px;
  padding: 14px;
  border: 1px solid lightblue;
  text-decoration: none;
}

.side-rooms {
  background-color: #2f3e51;
  height: calc( 100vh - 100px);
  padding: 0 20px;
  overflow: scroll;
}

.room a {
  margin: 20px auto 40px;
  color: white;
  text-decoration: none;
  display: block;
}

/* ************************************************************
メインのチャット画面
************************************************************ */

.main {
  width: calc( 100vw - 300px);
}

.main-heading {
  height: 100px;
  background-color: #ffffff;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}

.header-title {
  font-size: 24px;
  color: #333;
  margin-top: 36px;
}

.main-chatend-btn a {
  color: darkred;
  border: 1px solid darkred;
  padding: 20px;
  margin-top: 20px;
  text-decoration: none;
  display: block;
}

.main-area {
  height: calc( 100vh - 100px - 90px );
  background-color: #fafafa;
  padding: 46px 40px 0;
  overflow: scroll;
}

.area-name_time {
  margin: 10px auto;
  display: flex;
}

.main-area-name {
  font-size: 16px;
  color: #434a54;
}

.main-area-time {
  font-size: 12px;
  color: #999;
  margin-left: 10px;
}

.main-area-chat {
  font-size: 14px;
  color: #434a54;
  margin-bottom: 40px;
}

.main-footer {
  height: 90px;
  background-color: #dddddd;
  padding: 20px 40px;
  display: flex;
}

.main-form {
  background-color: white;
  display: flex;
  width: 100%;
}

.main-form-text {
  border: none;
  height: 50px;
  width: 100%;
  padding-left: 10px;
}

.main-form-send {
  margin-left: 15px;
  font-size: 16px;
  color: white;
  height: 50px;
  background-color: #38aef0;
  padding: 0 20px;
  border: none; 
}

.form-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden {
  display: none;
}